* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #778899;
}

.topnav ul {
	margin: 10px 0px;
}

li {
	padding: 0px 20px;
}

.hrinbox {
	width: 250px;
	position: relative;
	margin: auto;
}

.hrstyle {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

header {
	margin: auto;
	width: 900px;
	display: block;
}

header h1 {
	text-align: center;
	padding: 20px 0px 10px 0px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 600;
}

header h4 {
	text-align: center;
	padding: 0px 0px 10px 0px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
}

header .topnav {
	text-align: center;
}

header img {
	height: 50px;
	margin: 5px 0px 5px 215px;
}

section {
	width: 900px;
	margin: auto;
}

.main img {
	float: left;
}

.main div {
	float: right;
}

.searchbox {
	background-color: #f1f1f1;
	height: 294px;
	width: 294px;
	border: 3px solid #778899;
	float: left;
}

.searchbox h2 {
	text-align: center;
	margin: 15px;
}

.searchbox h3 {
	text-align: center;
	margin: 10px;
}

.searchbox p {
	text-align: center;
	margin: 15px;
	font-size: 14px;
}

.searchbox button {
	margin-top: 5px;
}

select {
	position: relative;
	margin-left: 100px;
}

button {
	position: relative;
	margin-left: 83px;
}

.topnav li, .bottomnav li {
	display: inline;
}

.cubes div {
	height: 300px;
	width: 300px;
	display: inline-block;
	float: left;
}

.cubes img {
	height: 300px;
	width: 300px;
}

.cubes .emptycase {
	background: white;
	border: 3px solid white;
	width: 294px;
	height: 294px;
	display: inline-block;
}

.emptycase h2 {
	text-align: center;
	margin-top: 90px;
}

.emptycase p {
	text-align: right;
	margin-right: 20px;
}

footer {
	margin: auto;
	display: block;
	width: 900px;
}

.footermain {
	width: 600px;
	height: 200px;
	background-color: #f1f1f1;
	float: left;
}

.footermain p {
	font-size: small;
	text-align: center;
	margin-top: 40px;
}

.footermain h4 {
	width: 150px;
	float: left;
	margin: 15px 18px 0px 40px;
}

.footermain img {
	height: 65px;
	width: 350px;
}

.newsletter {
	width: 294px;
	height: 194px;
	float: left;
	border: 3px solid #778899;
	background-color: #f1f1f1;
	display: inline-block;
}

.newsletter h3 {
	text-align: center;
	margin: 15px;
}

.newsletter p {
	text-align: center;
	margin: 10px;
}

.newsletter input {
	margin: 5px 0px 10px 60px;
}

.newsletter button {
	margin: 0px 0px 0px 100px;
}

.bottomnav ul {
	padding-top: 20px;
	padding-bottom: 15px;
	margin-left: 50px;
}
